:root {
    --primary-color: #357796;
    /* --primary-shadow-color: #141e2e; */
    --button-bg-color: #192429;
    --button-hover: #0f94d2;
    --primary-shadow-color: #000000;
    --secondary-color: #165fc5;
    --tertiary-color: #fff;
    --navbar-color: #1B262C;
    --secondary-grey: #ffffff;
    --project-card-shadow: #000000;
    --body-bg: #121212;
    /* --body-bg: #16213E; */
    --footer-color: #000;
    --footer-heading: #398db4;
    --skill-color: #ffffff;
    --button-color: #ffffff;
}