:root {
    --primary-color: #1d71e6;
    /* --primary-shadow-color: #141e2e; */
    --button-bg-color: #302c27;
    --button-hover: #1c7aff;
    --primary-shadow-color: #000000;
    --secondary-color: #165fc5;
    --tertiary-color: #fff;
    --navbar-color: #0d081a;
    --secondary-grey: #ffffff;
    --project-card-shadow: #2c2c2c96;
    --body-bg: #0c0c0c;
    /* --body-bg: #16213E; */
    --footer-color: #000001;
    --footer-heading: #165fc5;
    --skill-color: #ffffff;
    --button-color: #ffffff;
}