:root {
    --primary-color: #165fc5;
    --primary-shadow-color: #141e2e;
    --secondary-color: #165fc5;
    --tertiary-color: #fff;
    --navbar-color: #0d081a;
    --secondary-grey: #88868b;
    --project-card-shadow: #2c2c2c96;
    --body-bg: #0c0c0c;
    --footer-color: #000001;
    --footer-heading: #165fc5;
}